
     /* Geniş ekranlar için */
@media (min-width: 1024px) {
  body {header {
    padding: 50px;
  }
  nav{
    font-size: 55px;
    padding-left: 100px;
    padding-right:10px;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(227, 227, 227, 0.637);
  }
  .video-bg { 
    position: absolute; 
    top: 0; 
    left: 0;
     width: 290%;
      height: 300%; 
       object-fit: cover;
        z-index: -1;
      filter: blur(8px);
       }
        
        h1 {
        margin-top:  150px;
        margin-left: 390px;
        font-size: 65px;
       position: fixed;
       }
       p{
  
        margin-top:  250px;
        padding-left: 40px;
        font-size: 65px;
       position: fixed;
       }
    font-size: 18px;
  }
}

/* Orta boy ekranlar için */
@media (min-width: 768px) and (max-width: 1023px) {
  body {header {
    padding: 50px;
  }
  .a1{
    text-decoration: none;
    padding-right: 35px;
    margin-right: 60px;
    color: black;
  }
  nav {
    font-size: 55px;
    padding-left: 80px;
    padding-right:10px;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(197, 193, 193, 0.512);
    text-decoration: none;padding-right: 35px; margin-right: 60px;color: white ;
  }
  .video-bg { 
    position: absolute; 
    top: 0; 
    left: 0;
     width: 290%;
      height: 300%; 
       object-fit: cover;
        z-index: -1;
      filter: blur(8px);
       }
        
        h1 {
        margin-top:  150px;
        margin-left: 390px;
        font-size: 65px;
       position: fixed;
       }
       p{
  
        margin-top:  250px;
        padding-left: 40px;
        font-size: 65px;
       position: fixed;
       }
    font-size: 16px;
  }
}

/* Küçük ekranlar için */
@media (max-width: 767px)
 {
  header {
    padding: 50px;
  }

  .a1{
    text-decoration: none;
    padding-right: 5px;
    margin-right: 190px;
    color: black;
    
  }
  nav  {
  
    font-size: 55px;
    padding-left: 100px;
    padding-right:10px;
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(204, 193, 193, 0.512);
    }
  .video-bg { 
    position: absolute; 
    top: 0; 
    left: 0;
     width: 400%;
      height: 400%; 
       object-fit: cover;
        z-index: -1;
      filter: blur(8px);
       }
        
        h1 {
        margin-top:  150px;
        margin-left: 600px;
        font-size: 65px;
       position: fixed;
       }
       .s1{
       margin-top: 3230px;
      background-color: rgba(255, 255, 255, 0.634);
      padding-top: 60px;
    padding-left: 300px;
    padding-right: 700px;
    padding-bottom: 100px;
    display: inline-flex;
  }
       p{
        margin-top:  250px;
        padding-top: 20px;
        font-size: 65px;
       position: fixed;
       margin-left: 50px;
       }
  body {
    font-size: 14px;
  }
}
